.record-wrap{
  margin: 1.8rem 0;
  .meet-record{
    @include relativeZero;
    @include flexBetween;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    &-when{
      @include sideRect;
      background-color: #E2EFEB;
      > p{
        padding: 1rem;
        font-size: 1.8rem;
        font-weight: 700;
        color: #0A696D;
        text-align: center;
      }
    }
    &-where{
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-direction: column;
      width: 55%;
      border-radius: 15px;
      background-color: #FAF8EC;
      >p{
        width: 80%;
        color: $black-color;
      }
      &-location{
        font-weight: 300;
      }
      &-cafe{
        font-weight: 500;
      }
    }
    &-who{
      @include sideRect;
      background-color: #F3EFFF;
      > svg,p{
        color: #A294CE;
      }
      svg{
        max-width: 2.75rem;
        padding-top: 1rem;
      }
      &-name{
        margin-top: 0.2rem;
        font-size: 1.1rem;
        font-weight: 500;
      }
    }
    &:hover{
      .meet-record-delete{
        transform: scale(1);
      }
    }
    &-delete{
      position: absolute;
      top: -0.6rem;
      right: -0.6rem;
      display: block;
      width: 2rem;
      height: 2rem;
      border-radius: 50%;
      border: 0 none;
      transform: scale(0);
      transition: all .3s;
      background: #fff;
      border: solid 1px #ffcc9d;
      cursor: pointer;
      svg{
        width: 100%;
        height: 100%;
        color: #ffcc9d;
      }
    }
  }
  .record-what{
    @include flexBetween;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 1rem;
    &-space{
      width: 48%;
      text-align: center;
      border-radius: 15px;
      padding: 0.3rem 0;
      transition: all .4s;
      #space-write{
        width: 100%;
      }
      &:first-child{
        border: 1px solid #AECDC3;
        margin-bottom: 0.8rem;
        .space-for{
          color: #AECDC3;
        }
        &:hover{
          background: #AECDC3;
          .space-for{
            color: #fff;
          }
        }
      }
      &:nth-child(2){
        border: 1px solid #ffcc9d;
        margin-bottom: 0.8rem;
        .space-for{
          color: #ffcc9d;
        }
        &:hover{
          background: #ffcc9d;
          .space-for{
            color: #fff;
          }
        }
      }
      &:nth-child(3){
        border: 1px solid #FFC6BB;
        .space-for{
          color: #FFC6BB;
        }
        &:hover{
          background: #FFC6BB;
          .space-for{
            color: #fff;
          }
        }
      }
      &:nth-child(4){
        border: 1px solid #94D2E5;
        .space-for{
          color: #94D2E5;
        }
        &:hover{
          background: #94D2E5;
          .space-for{
            color: #fff;
          }
        }
      }
    }
  }
}